body{
    background-image: url(../images/bodybackground.jpg);
    background-size: 1100px 750px;
    margin-left: 40px;
    margin-top: 20px;
}

header{
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 1260px 155px;
    display: flex;
    justify-content: center;
    resize: none;
    color: white;
    font-style: oblique;
    font-family: fantasy;
    word-spacing: 30px;
    letter-spacing: 10px;
    text-shadow: 4px 4px black;
}

h1 {
    border: 0px;
    margin: 13px;
    font-size: 45px;
}

main {
 display: flex;
 flex-direction: row;
}

.main-columns{
    height: 465px;
    width: 330px;
}

.main-columns.two, .main-columns.three, .main-columns.four{
    width: 300px;
    }

#search-and-results.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 330px;
    height: 465px;
}

#searchbox-and-button{
    position: relative;
    display: flex;
    justify-content: center;
    height: 30px;
}
input {
    border-style: solid;
    border-color: red;
}

.dropdown{
    background-color: white;
    color: white;
    height: 400px;
    width: 300px;
}

.ui-autocomplete-input{
    background-color: white;
}

#get-results{
    margin-left: 15px;
    background-color: white;
    border-style: solid;
    border-color: red;
}

#search-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 10px;
}

#pokemon-name {
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px blue;
    text-transform: capitalize;
}

#pokemon-picture{
    height: 220px;
}

.subtitles {
    height: 460px;
    width: 30px;
}

.subboxes {
    height: 225px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: 25px;
    text-align: center;
    font-family: fantasy;
    margin-left: 2px;
    font-size: x-large;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px blue;
    text-decoration: underline;
}

.boxes {
    height: 200px;
    margin-top: 10px;
}

.sub-subtitles {
    height: 30px;
    text-align: center;
    font-family: fantasy;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px blue;
    font-size: 23px;
    text-decoration: underline;
}

.list-boxes{
    /* border-style: solid; */
    width: 250px;
    height: 155px;
    margin: auto;
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    align-items: center;
    padding: 0px;
}

#solo-icon{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

#pokemon-results-icon.type-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-icon {
    width: 120px;
}

.placeholder-pics{
    height: 150px;
}