main {
 display: flex;
 flex-direction: row;
}

.main-columns{
   
    height: 550px;
    width: 100%;
}

.main-columns.one{
    background-color: red;
    }

.main-columns.two{
    background-color: blue;
    }

.main-columns.three {
    background-color: yellow;
}

#searchbox-and-button{
    border-style: solid;
}

#search-results{
    border-style: solid;
    width: 350px;
    height: 200px;
    margin: auto;
}

.subtitles {
    height: 30px;
    border-style: solid;
}

.boxes {
    height: 250px;
    border-style: solid;
}

.sub-subtitles{
    border-style: solid;
    height: 30px;
}

.list-boxes{
    border-style: solid;
    width: 350px;
    height: 200px;
    margin: auto;
}

#pokemon-picture{
    height: 150px;
}