body{
    background-image: url(../images/bodybackground.jpg);
    background-size: 1100px 750px;
}

main {
 display: flex;
 flex-direction: row;
}

.main-columns{
    height: 465px;
    width: 330px;
}

.main-columns.one {
    
    }

.main-columns.two, .main-columns.three, .main-columns.four{
    width: 300px;
    }

#searchbox-and-button{
    border-style: solid;
    display: flex;
    justify-content: center;
}
input {
    border-style: solid;
    border-color: red;
}
#get-results{
    margin-left: 15px;
}

#search-results.boxes{
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 30px;
}

.subtitles {
    height: 460px;
    width: 30px;
    border-style: solid;
}

.subboxes {
    height: 225px;
    border-style: solid;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: 25px;
 
}

.boxes {
    height: 227px;
    border-style: solid;
}

.sub-subtitles{
    border-style: solid;
    height: 30px;
}

.list-boxes{
    border-style: solid;
    width: 200px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
}

#pokemon-picture{
    height: 150px;
}

.placeholder-pics{
    height: 150px;
}